*{
    margin: 0;
    padding: 0;
    text-align:center ;
}



.fot{
    
    position:relative;
    left: 0;
    bottom: 0;  
    color:#fff;
    text-align: center;
    background-color: black;
    margin-top: 5%;
    width: 100%;
   
    
}


.col1{
    width: 50%;
    
}

.col2{
    width: 50%;
    
}

div{
    width: 100%;
    
}