*{
    margin: 0;
    padding: 0;
    
}


@media (max-width: 768px) {
    .fot{
    
        position:relative;
        left: 0;
        bottom: 0;  
        color:#fff;
        text-align: center;
        background-color: black;
        width: 100%;
       
        
    }
  }

  .fot{
    
    position:relative;
    left: 0;
    bottom: 0;  
    color:#fff;
    text-align: center;
    background-color: black;
    width: 100%;
    margin-top: 5%;
    
}

.col1{
    width: 50%;
    
}

.col2{
    width: 50%;
    
}

div{
    width: 100%;
    
}