*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.bWlpwKd6al_WHOaHNj4pIgHaDu?pid=ImgDet&rs=1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
    
}

.titulo{
    
        background-color:rgb(15, 15, 15);
        text-align: center;
        color: rgb(42, 135, 223);
        border: solid 1px black;
        
    
}

.tabla{

    background-color: rgb(233, 208, 208);
    margin: auto;
    border: solid 1px rgb(42, 135, 223);
}


.table-container{
    overflow-x: auto;
}

.body{
    text-align: center;
}

.buscador{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color:aqua;
    
}

.boton{
    margin-bottom: 5%;
    margin-left: 3%;
}


