*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    background-image: url(https://th.bing.com/th/id/OIP.bWlpwKd6al_WHOaHNj4pIgHaDu?pid=ImgDet&rs=1);
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
    
}

.titulo{
    
        background-color:rgb(15, 15, 15);
        text-align: center;
        color: rgb(42, 135, 223);
        border: solid 1px black;
        
    
}

@media (max-width: 768px) {
    .tabla-container {
        overflow-x: auto;
    }
  }

.tabla{

    background-color: rgb(233, 208, 208);
    margin: auto;
    border: solid 1px rgb(42, 135, 223);
}




.body{
    text-align: center;
}


@media (max-width: 768px) {
    .buscador {
      width: 100%;
      margin-bottom: 10px;
      /* Agrega otros estilos específicos para el modo celular */
    }
  }

  
.buscador{
    margin-top: 5%;
    margin-bottom: 3%;
    background-color:aqua;
    
}

.boton{
    margin-bottom: 5%;
    margin-left: 3%;
}


